{% extends 'dummy.html'%}


{% block title %}
<title>reset_password</title>
{% endblock %}

{% block body_block %}
<center>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username"><br><br>
        <label for="password">password</label>
        <input type="text" name="password" id="password"><br><br><br>
        
        <input type="submit" value="reset_password" class="btn btn-success">
    </form>
</center>
<style>
</style>
{% endblock %}